*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vh;
    background-image: url(img/montana-sombras.jpg); 
    background-size:cover;
    font-family: 'Parisienne', cursive;

}


h1{
   color: white;
}

nav, a{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
}

a:link{
    color: rgb(30, 30, 32);
    font-style: bold;
    text-decoration: none;
    align-items: center;
    flex-direction: row;
}


